.Cockpit {
    text-align: center;
  }
  
  .red {
    color: red;
  
  }
  .bold{
    font-weight: bold;
  
  }
  .Cockpit button
  {     background-color: green; 
        color: white;
        font: inherit;
        border: 1x solid blue;
        padding: 8x;
        cursor: pointer;
  }
  .Cockpit button:hover { 
    background-color: lime;}
  
  .Cockpit button.Red{
    background-color: red;
  }
  .Cockpit button.Red:hover { 
    background-color: fuchsia;}

    .Cockpit button.Blue{
        background-color: blue;
      }
    .Cockpit button.Blue:hover { 
        background-color: fuchsia;}